* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    padding: 12.50px 16px;
    border-radius: 4px;
    background-color: #30b868;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.button_one:hover {
    background-color: #30b86900;
    border: 1px solid #ffffff;
    padding: 11.50px 15px;
}

nav {
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 5px 0px;
}

nav .logo img {
    width: 139px;
}

nav .menu_items ul {
    display: flex;
}

nav .menu_items li {
    list-style: none;
    margin-right: 32px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

#banner .banner_container {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

#banner .hero_content h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
}

#banner .hero_content .white_txt {
    color: #ffffff;
}

#banner .hero_content .green_txt {
    color: #30b868;
}

#banner .hero_content p {
    margin: 16px 0 32px 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#banner .hero_button .button_one {
    margin-right: 16px;
}

#banner .hero_button .button_two {
    background-color: #30b86900;
    border: 1px solid #ffffff;
    padding: 11.50px 15px;
    border-radius: 4px;
    color: #ffffff;
    
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#banner .hero_content .first_button {
    padding: 8px 12px;
    border-radius: 40px;
    color: #30b868;
    font-size: 16px;
    margin-top: 145px;
    border: none;
}

#banner .hero_button .button_one{
    margin-bottom: 179.5px;
}

#notes {
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

#notes .notes_header h3 {
    font-style: 700;
    font-size: 48px;
    line-height: 58px;
    margin-top: 50px;
    color: #001931;
}

#notes .notes_header p {
    font-style: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

#notes .notes_card {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}

#notes .info_card {
    padding: 20px;
    max-width: 322px;
    box-shadow: 0px  -1px 03px 0px #d7d4d4;
    margin-top: 44px;
    border-radius: 3%;
}

#notes .info_card img {
    padding: 8px;
    width: 40px;
    border: 1px solid orangered;
    border-radius:50%;
    background-color: orangered;
    margin-top: 32px;
}

#notes .info_card h4 {
    margin: 16px 0px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

#notes .info_card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

#brain {
    padding: 120px;   
}

#brain .brain_container {
    display: flex;
    gap: 16px;
}

#brain .brain_left {
    width: 600px;
}

#brain .brain_right {
    padding-top: 102px;
    padding-left: 60px;
}

#brain .brain_right h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30b868;
    margin-bottom: 16px;
}

#brain .brain_right h3 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

#brain .brain_right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

#brain .brain_right h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}

#brain .brain_right .fa-solid {
    color: #30b868;
}

#think { 
    padding: 0px 120px 65px 120px;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f6f2;
    margin-bottom: 120px;
}

#think .think_container {
    padding: 80px 40px 0px 40px;

}

#think .think_container h3 {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

#think .think_container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px; 
}

#think .think_container button {
    margin-bottom: 16px;
    box-shadow: 0px 2px 4px 0px #000000a9;
}

#think .think_container .think_bottom {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

footer {
    background-color: aqua;
}

#footer_container {
    display: flex;
    padding: 120px 120px 0px 120px;
    justify-content: space-between;
    background-color: #001931;
}

#footer_container .footer_container_right p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 16px;
}

#footer_container .fa-facebook {
    width: 20px;
    color: #ffffff;
    margin-right: 6px;
    cursor: pointer;
}
#footer_container .fa-linkedin {
    width: 20px;
    color: #ffffff;
    margin-right: 6px;
    cursor: pointer;
}
#footer_container .fa-x-twitter {
    width: 25px;
    color: #ffffff;
    margin-right: 6px;
    cursor: pointer;
    }

footer .footer_bottom {
    background-color: #001931;
    padding: 100px 100px 30px 100px;
    text-align: center;
}

footer .footer_bottom p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fafafa;
    margin-top: 30px;
}


