* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    padding: 12.50px 16px;
    border-radius: 5px;
    background-color: #30b868;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-around;
}

nav .menu_items ul {
    display: flex;
}

nav .menu_items li {
    list-style: none;
    margin-right: 32px;
}
